name: Deploy Infrastructure

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: eu-central-1

    steps:
    - uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      # Requires TF_VAR secrets or a .tfvars file
      run: terraform apply -auto-approve
      env:
        TF_VAR_vpc_id: ${{ secrets.VPC_ID }}
        TF_VAR_subnet_id: ${{ secrets.SUBNET_ID }}
        TF_VAR_admin_ip: "${{ secrets.ADMIN_IP }}"
